body{
    background: #d8ca04;
}

aside{
    float: left;
    background: #000000;
    width: 30%;
    padding: 0%;
    height: 100vh;
    color: rgb(206, 71, 30);
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 160px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: 70px;
    font-weight: bold;
    color: chartreuse;
    position: relative;
    top:7px;

}

aside h3{
    margin-top: 30px;
    font-size: 28px;

}

aside ul {
    list-style: none;
    margin-left: -10px;
}


aside ul li{
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #d8ca04;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: right;
    color: rgb(66, 18, 240);
    margin-top: -600px;
    text-align: center;
    width: 75%;
}


main .features h1 {
    font-size: 50px;
}


main .features p {
    max-width: 400px; margin: 20px auto
}