body{
    background: #d8ca04;
}

aside{
    float: left;
    background: #000000;
    width: 30%;
    padding: 0%;
    height: 100vh;
    color: rgb(206, 71, 30);
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 160px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: 70px;
    font-weight: bold;
    color: chartreuse;
    position: relative;
    top:7px;

}

aside h3{
    margin-top: 30px;
    font-size: 28px;

}

aside ul {
    list-style: none;
    margin-left: -10px;
}


aside ul li{
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #d8ca04;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: right;
    color: rgb(66, 18, 240);
    margin-top: -600px;
    text-align: center;
    width: 75%;
}


main .features h1 {
    font-size: 50px;
}


main .features p {
    max-width: 400px; margin: 20px auto
}

form {
    max-width: 500px; /* Устанавливаем максимальную ширину формы */
    margin: 0 auto; /* Центрируем форму */
    background: white; /* Фон формы */
    padding: 20px;
    border-radius: 10px; /* Скругляем углы */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
}

h1 {
    text-align: right; /* Выравниваем заголовок */
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    width: 89%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Скругленные края */
    font-size: 16px;
    background: #f9f9f9; /* Светло-серый фон */
    transition: 0.3s;
}

.form-control:focus {
    border-color: #28a745; /* Зеленый цвет при фокусе */
    box-shadow: 0px 0px 5px rgba(40, 167, 69, 0.5);
    background: white;
}

button.btn-success {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

button.btn-success:hover {
    background: #218838;
}





